apiVersion: apps/v1
kind: Deployment
metadata:
  name: druid-broker
  namespace: druid
  labels:
    component: broker
spec:
  replicas: 1
  selector:
    matchLabels:
      component: broker
  template:
    metadata:
      labels:
        component: broker
    spec:
      containers:
        - name: druid
          image: deepaksood619/zendruid:1.0.10
          imagePullPolicy: IfNotPresent
          args: ["bin/run-druid", "broker", "/druid/conf"]
          ports:
            - name: http
              containerPort: 8082
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 60
            httpGet:
              path: /status/health
              port: 8082
          readinessProbe:
            initialDelaySeconds: 60
            httpGet:
              path: /status/health
              port: 8082
          volumeMounts:
          - mountPath: /var/druid/
            name: data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: "druid-pvc"