apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-historical
  namespace: druid
  labels:
    component: historical
spec:
  serviceName: druid-historical
  replicas: 1
  selector:
    matchLabels:
      component: historical
  template:
    metadata:
      labels:
        component: historical
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
    spec:
      containers:
      - name: druid
        command:
          - /bin/bash
          - -c
          - ip=$(awk 'END{print $1}' /etc/hosts) && sed -ri 's/druid.host=.*/druid.host='${ip}'/g' /druid/conf/historical/runtime.properties && bin/run-druid historical /druid/conf
        image: deepaksood619/zendruid:2.0.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8083
          name: http
#        livenessProbe:
#          initialDelaySeconds: 60
#          httpGet:
#            path: /status/health
#            port: 8083
        readinessProbe:
          initialDelaySeconds: 30
          httpGet:
            path: /status/health
            port: 8083
        volumeMounts:
        - mountPath: /var/druid/
          name: data
      - name: druid-exporter
        image: deepaksood619/druid-exporter:0.0.1
        imagePullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: 8000
            protocol: TCP
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: "druid-pvc"