apiVersion: apps/v1
kind: Deployment
metadata:
  name: druid-router
  namespace: druid
  labels:
    component: router
spec:
  replicas: 1
  selector:
    matchLabels:
      component: router
  template:
    metadata:
      labels:
        component: router
    spec:
      containers:
        - name: druid
          image: deepaksood619/zendruid:2.0.1
          imagePullPolicy: IfNotPresent
          args: ["bin/run-druid", "router", "/druid/conf"]
          ports:
            - name: http
              containerPort: 8888
              protocol: TCP
#          livenessProbe:
#            initialDelaySeconds: 60
#            httpGet:
#              path: /status/health
#              port: 8888
          readinessProbe:
            initialDelaySeconds: 30
            httpGet:
              path: /status/health
              port: 8888